html {
  height: 100%;
}

body {
  margin: 1%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b5dfeb;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  border-right: #000 solid 1px;
  padding-right: 30px;
  margin: 20px;
}

#main {
  flex: 3;
  padding-left: 3em;
  margin-top: 10px;
}

#left-menu-bar,
#left-menu-bar1 {
  display: grid;
  color: rgb(0, 0, 0);
  font-style: normal;
  grid-row-gap: 1em;
}

#contact {
  list-style: square;
}

#motto {
  text-align: end;
  margin-bottom: 5%;
  margin-right: 2%;
  color: #413c3c;
}

#motto span {
  font-weight: bold;
}

.favorite {
  font-size: medium;
  color: rgb(72, 46, 61);
  font-style: normal;
}

#top-menu-bar {
  text-align: center;
  background: none;
  color: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 20px 0;
}

#top-menu-bar li {
  display: inline;
  border-right: 1px solid #000;
  text-align: center;
}

#top-menu-bar li:last-child {
  border-right: none;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 15px 40px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#top-menu-bar a.active {
  background-color: none;
  color: rgb(198, 44, 44);
}

#top-menu-bar a:visited {
  color: rgb(25, 1, 1);
}

#top-menu-bar a:hover {
  color: #d5621b;
  background: #b5dfeb;
}

img {
  border-style: groove;
  border-radius: 50%;
}

#avatar {
  text-align: center;
}

h2 {
  margin: 5px 0;
  text-align: center;
  color: #413c3c;
  font-family: cursive;
}

h3 {
  text-decoration: dashed;
  color: #2c2828;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  text-emphasis: initial;
  padding-bottom: 5%;
  height: 15px;
  text-shadow: #413c3c;
}

#contact {
  text-align: center;
}

.adress {
  text-align: center;
  margin-left: 25px;
}

footer a {
  color: rgb(0, 0, 0);
}

footer {
  background-color: none;
  color: rgb(0, 0, 0);
  border-top: #000 solid 2px;
}

.page {
  display: none;
}

#languages table {
  width: 50%;
  border-collapse: separate;
  text-align: center;
}
#languages table th,
#languages table td {
  border: 1px solid #303060;
  padding: 5px;
}

.about-me {
  margin-left: 15px;
}

#hobbies li {
  padding: 7px;
  font-family: "Times New Roman", Times, serif;
  font-size: normal;
}
